.mh-symptom-checker{
    h4, h5{
        margin-bottom: 2rem;
    }
}
.mh-treatment-item{
    border-top: 1px solid $primary-100;
    border-bottom: 1px solid $primary-100;
    @include font-style(1.25rem, 400, 1.25rem);
    color: $primary-700;
    padding: 1rem;
    margin-bottom: -1px;
}